ion-title {
  --color: #ffffff;
}

ion-card {
  border-radius: 16px;
  box-shadow: 0px 6px 15px rgba(0 ,0, 0, 5);
  margin-top: 20px;
}

ion-button {
  --color: #ffffff;
  --border-radius: 16px;
  font-weight: bold;
  --box-shadow: 0px 3px 7px rgba(0, 0, 0, 5);
  margin-top: 20px;
}

ion-card-content p {
  color: #222222;
}

ion-card-subtitle {
  font-weight: bold;
}

ion-card-content strong {
  color: #478FCA;
}

ion-list {
  background: #ffffff;
  border-radius: 24px;
  padding: 20px 10px;
  margin: 10px 0 30px 0;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

ion-item {
  --background: transparent;
}

.ion-margin {
  margin-top: 30px;
}

.texto-destaque {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  -webkit-text-stroke: 0.8px rgba(0, 0, 0, 0.3); 
}