<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Color Change
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" [ngStyle]="{'--background': corFundo}">
  
  <ion-list>
    <ion-item lines="none">
      <ion-label color="danger"><strong>R</strong>: {{ vermelho }}</ion-label>
      <ion-range color="danger" min="0" max="255" [(ngModel)]="vermelho"></ion-range>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="success"><strong>G</strong>: {{ verde }}</ion-label>
      <ion-range color="success" min="0" max="255" [(ngModel)]="verde"></ion-range>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="tertiary"><strong>B</strong>: {{ azul }}</ion-label>
      <ion-range color="tertiary" min="0" max="255" [(ngModel)]="azul"></ion-range>
    </ion-item>

    <div class="ion-text-center">
      <ion-button expand="block" shape="round" (click)="mudarCorBotao1()" [ngStyle]="{'--background': corBotao1}">
        <span class="texto-destaque">1. Mudar cor deste botão</span>
      </ion-button>

      <ion-button expand="block" shape="round" (click)="mudarCorFundo()">
        <span class="texto-destaque">2. Mudar cor de fundo</span>
      </ion-button>
    </div>
  </ion-list>

  <ion-button expand="block" class="ion-margin" routerLink="/home">
    <span class="texto-destaque">Cartão de Identificação</span>
  </ion-button>
</ion-content>
